$light-page-primary: #FF842B;
$light-page-paypal: #FEC538;
$light-page-paypal-hover: #FFDA80;
$light-page-green: #00CA14;
$light-page-green-light: #01c120;
$light-page-field-color: #6c727f;
$page-error: #FF0000;
$light-button-disabled: #D2D2D2;
$light-field-border-thin: #E1E1E1;
$light-field-border-light: #D2D5DA;
$dark-page-primary: #4EAAFF;
$dark-page-primary-light: #66EDFF;
$dark-page-button-color: #495eee;
$dark-page-color-hover: #6c89ff;

$black-color-thin: rgba(#000, 0.05);
$black-color-light: rgba(#000, 0.1);
$black-color-light-m: rgba(#000, 0.2);
$black-color-medium: rgba(#000, 0.4);
$black-color-regular: rgba(#000, 0.5);
$black-color-dark: rgba(#000, 0.6);

$light-color-thin: rgba(#fff, 0.2);
$light-color-medium: rgba(#fff, 0.3);
$light-color-regular: rgba(#fff, 0.4);
$light-color-strong: rgba(#fff, 0.5);
$light-color-strong-m: rgba(#fff, 0.8);

$dark-modal: #4D5E82;
$dark-field-bg: #617398;
$dark-field-border: #7899ff;